@model ProfileDataViewModel
@{
    ViewData["Title"] = "Account profile";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="CompleteRegistration" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
    <h4>Fill in your account profile details.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AvatarUrl" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AvatarUrl" class="form-control" />
            <span asp-validation-for="AvatarUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Birthdate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Birthdate" class="form-control" />
            <span asp-validation-for="Birthdate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Telephone" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Telephone" class="form-control" />
            <span asp-validation-for="Telephone" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Street" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ZipCode" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ZipCode" class="form-control" />
            <span asp-validation-for="ZipCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="City" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="State" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="State" class="form-control" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Country" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Complete registration</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
