@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy";
    ViewData["ActivePage"] = "Privacy";
}

<h4>@ViewData["Title"] - Your Personal Data</h4>

<div class="row">
    <div class="col-md-6">
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button type="submit">Download your data</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-default">Delete your user data</a>
        </p>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
